body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #5264AB;
    margin-top: 50px;
    font-size: xx-large;
    
  }
  input, button {
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    outline: none;
    
  }

  input:hover, button:hover {
    /* Slightly darker shade for hover effect */
    color: rgb(58, 22, 178); /* Change text color for better contrast */
    cursor: pointer; /* Change cursor to pointer */
}
